html {
	background-color: #f5d5e0;
	text-align: center;
	font-family: Times New Roman;
}
h1, h2, h3 {
	color: #210535;
	font-size: 20pt;
}

#task, #requirements, #submission, #group {
	color: #7b337d;
	font-size: 16pt;
}
 .task {
 	color: #7b337d;
 }

div class="banner" {
	color: darkslateblue;
}

.banner {
	background-color: yellow;
}
.banner {
	background-image: url('banner.jpg');
	height: 200px;
	width: 100%;

	color: white;
	font-family: Apple Chancery;
	font-size: 30pt;

	text-align: center;
	padding-top: 50px;
}


#grading {
	border: 5px solid;
	border-color: #c874b2;
	margin: 25px 50px 75px 65px;
}


.menu {
	border: 3px darkslateblue;
	display:  flex;
	padding: 50px ;
	font-size: 20;
}

ul { 
	border: display: flex; 
	list-style: none; 
	border: 10px #c874b2;
}


li {
	flex: 3;
}


#main-heading {
	text align: center;
	color: darkslateblue;
}


/* unvisited link */
a:link {
  color: red;
}
/* visited link */
a:visited {
  color: rebeccapurple;
}
/* mouse over link */
a:hover {
  color: hotpink;
}
/* selected link */
a:active {
  color: blue;
}

a[class="email"] {
	color: deeppink;
}

img {
	border-radius: 16px;
}

/* The animation code */
@keyframes example {
  from {background-color: #f5d5e0;}
  to {background-color: #c874b2;}
}

/* The element to apply the animation to */
 #grading {
  background-color: #f5d5e0;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}